.contact-content{
    background: var(--color1);
    margin-top: 20px;
    padding: 20px;
    height: fit-content;
    width: 80vw;
    margin-top: 2.4vw;
    border: solid white;
    border-bottom: 0px;

}
.contact-content h2{
    font-size: 3vw;
    font-family: var(--font1);
    padding: 20px;
    padding-top: 0px;
    top: 0;
    margin-bottom: -15px;
}
.contact-form{
    padding: 10px;
    height: fit-content;
}
