@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&display=swap');

:root {
    --font1: "Dancing Script", cursive;
    --font2: "Outfit", sans-serif;
    --font3: "Kalam", cursive;
    --color1: rgb(240, 239, 243);
    /* --color1: rgb(197, 103, 137); */
    --color2: rgb(120, 120, 179);
    --color3: rgb(47, 43, 50);
}

body {
    background-color: rgb(191, 172, 196);
}

.max-width-1 {
    max-width: 90vw;
}

.max-width-2 {
    max-width: 50vw;
}

.m-auto {
    margin: auto;
}

.btn {
    padding: 0.5vw 0.8vw;
    font-family: var(--font2);
    background-color: rgb(177, 207, 240);
    border-radius: 5px;
    font-size: 1.2vw;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background: rgb(172, 14, 14);
    color: white;
}

.form-input {
    padding: 0.5vw 0.8vw;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.2vw;
    margin: 13px;
    font-family: var(--font2);
}

.form-box {
    padding: 1vw;
}

.form-box input,
textarea {
    width: 70vw;
    padding: 0.5vw;
    font-size: 1.2vw;
    font-family: var(--font2);
    border: solid var(--color2);
    border-radius: 5px;
}